/* mode: Dark */
#light{
  background-color: rgb(247, 247, 247);
  color: black;
}
#dark{
  background-color: #292929;
  color: white;
} */
    
   

.App {
  width: 100%;
  height: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*Header CSS*/
/* .logo {
  padding-bottom: 2px;
}

.light.btn-primary {
  --bs-btn-border-radius: 20px;
  --bs-btn-color: rgba(135, 118, 118, 0.551);
  --bs-btn-bg: rgb(210, 188, 219);
  --bs-btn-border-color: rgb(210, 188, 219);

  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: rgb(202, 102, 245);
  --bs-btn-hover-border-color: rgb(207, 113, 244);

  --bs-btn-active-color: white;
  --bs-btn-active-bg: rgba(98, 69, 156, 0.4);
  --bs-btn-active-border-color: rgba(98, 69, 156, 0.8);

}

.dark.btn-primary {
  --bs-btn-border-radius: 20px;
  --bs-btn-color: white;
  --bs-btn-bg: rgb(98, 69, 156);
  --bs-btn-border-color: rgb(98, 69, 156);

  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: rgba(63, 23, 143, 0.8);
  --bs-btn-hover-border-color: rgba(63, 23, 143, 0.8);

  --bs-btn-active-color: white;
  --bs-btn-active-bg: rgba(52, 25, 105, 0.952);
  --bs-btn-active-border-color: rgba(52, 25, 105, 0.952);
}

.btn {
  --bs-btn-padding-x: 1.6rem;
  font-weight: bold;
}
.navbar{
  --bs-navbar-padding-x: none;
}

.navbar-nav .form-check-input:checked {
  background-color: rgb(98, 69, 156);
  border-color: rgb(98, 69, 156);
}

.navbar-nav .form-check-input:focus {
  border-color: rgb(98, 69, 156);
  box-shadow: 0 0 0 0.25rem rgb(98 69 156 / 25%);
}

#light .navbar-nav .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Ccircle cx='50' cy='50' r='40' fill='rgb(98 69 151 /50%25)' /%3E%3C/svg%3E ");
}

.mt-7px {
  margin-top: 7px;
} */

/* Modal */
.modal-content{
  border: none;
}
.light.modal-content{
  background-color: rgb(231, 228, 228);
  color: black;

}
.dark.modal-content{
  background-color: #292929;
  color: white;
}
.modal-header{
  border-bottom: none;
  padding: 16px 16px 1px 16px;
}
.modal-title{
  font-weight: bold;
}
.btn-close:hover{
  transform: rotate(90deg);
  transition-duration: 1s;
}
.btn-close{
  transform: rotate(-90deg);
  transition-duration: 1s;
}
.dark .btn-close{
  background:transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e7e3e3'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E")center/1em auto no-repeat;;
}

.modal-footer{
  border-top: none;
  flex-direction: column;
  justify-content: center;
  padding: 1px 12px 12px 12px;
}

/* Signup Modal */
.light.modal-content .form-control:focus-within {
  border-color: rgb(98 69 156 / 25%);
  box-shadow: 0 0 0 0.25rem rgb(98 69 156 / 25%);
}
.dark.modal-content .form-control:focus-within {
  border-color: rgb(98 69 156 / 25%);
  box-shadow: 0 0 0 0.25em rgb(98 69 156 / 60%);
}
.slash{
  width: min-content;
  padding: 0;
  font-size: 1.4em;
}
.gender{
  padding-top: 5px;
  padding-bottom:5px;
}
.gender .form-check{
  box-shadow: none !important;
}
.light.gender .form-check-input:focus{
  box-shadow: 0 0 0 0.2em rgb(98 69 156 / 25%);
}
.dark.gender .form-check-input:focus {
  box-shadow: 0 0 0 0.2em rgb(98 69 156 / 50%);
}
.light .form-check:focus-within{
  border:none ;
  box-shadow: 0 0 0 0.25rem rgb(98 69 156 / 25%);
}
.dark .form-check-input:focus {
  border: none;
  box-shadow: 0 0 0 0.2em rgb(98 69 156 / 50%);
}
/* datepicker CSS */
.light .react-datepicker__day--keyboard-selected{
  background-color: rgb(98 69 156) !important;
}
.light .react-datepicker__day--selected{
  background-color: rgb(98 69 156) !important;
}
.dark .react-datepicker__day--keyboard-selected {
  background-color: rgb(210, 188, 219) !important;
}

.dark .react-datepicker__day--selected {
  background-color: rgb(210, 188, 219) !important;
}

/* end of datepicker CSS */
.light .form-check-input:checked {
  background-color: rgb(210, 188, 219) ;
  border-color: rgb(210, 188, 219);
}
.dark .form-check-input:checked{
  background-color: rgb(98, 69, 156);
  border-color: rgb(98, 69, 156);
}
.btn-primary:disabled{
  background-color: rgb(167, 167, 167);
  border-color: rgb(167, 167, 167);
}
.bsh-none .form-check{
  box-shadow: none !important;
}

/* Carousel */
.dogcarousel{
  position: relative;
}
.carousel-caption{
  position: absolute;

}
.carousel-text.dark{
  color: white;
  font-weight: bold;
}
.carousel-text.light{
  color: black;
  font-weight: bold;
}

.carousel-img{
  max-height: 93vh;
  /* object-fit: cover; */
}

/* Review CSS */
.review-header{
  padding: 5px ;
  display: flex;
}
.qm{
  position:relative;
  height: 10px;
  bottom:75px;
  font-family: sans-serif;
  font-size: 5em;
  font-weight: bold;
  
}
.qm.dark{
  color: rgb(156, 133, 225);
}
.qm.light{
  color: rgba(98, 69, 156, 0.663);
}
.qm.right{
  float: right;
  bottom:105px;
  right:5px;
}
.review{
  margin: 1em ;
}
.review.light{
  border-width: 2px;
  border-color: rgb(210, 188, 219);
}

.review.dark{
  border-width: 2px;
  border-color: rgb(98, 69, 156) ;
}
.reviewslider{
  margin-top: 10px;
}
.reviewslider.row{
  --bs-gutter-x: 0 !important;
}
.reviewslider.dark{
  background-color: #292929;
}

/* footer */


.footer{
  background-color: rgb(98, 69, 156);
  margin-bottom: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer-down .copy-right{
color: white;
}

.footer-top{
  position: relative;
  bottom: 0;
  right: 0;
  left:0;
  color: white;
  padding: 1em 0;
  display: flex;
  height: -webkit-fill-available;
  
  
}




.footer-left{
  padding-top: 3%;
  text-align: center;
  width: 33%;
  list-style-type: none;

}

.footer-left h1{
  text-align: center;
  padding-left:7% ;
  padding-bottom: 7%;
}

.footer-left >ul{
  list-style-type: none;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  padding-top: 15%;
}




.footer-left >ul >li{
  padding: 3%;
  width: 100%;
}



.footer-mid{
  padding-top: 3%;
  text-align: center;
  width: 33%;
  
  
  
}

.footer-mid >ul >li{
  padding-bottom: 5%;
  
}

.footer-mid >ul{
  list-style-type: none;
  margin: 0;
  padding: 8%;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 17px;
  
  

  
}
.footer a{color: white;}
.footer a:link{
  text-decoration: none;
}
.footer a:visited { text-decoration: none; }
.footer-mid a:hover { text-decoration: none; color: aliceblue; padding-left: 8px;transition: all 0.5s ease;}
.footer a:hover { text-decoration: none; color: aliceblue;}
.footer a:active { text-decoration: none; }


.footer-left a:link{
  display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-left a:hover{
  color: #24262b;
	background-color: #ffffff;
}

.footer-left >h3{
  line-height: 2;
  border-bottom: 2px solid currentColor;
  margin-left: 200px;
  margin-right: 200px;
}



.footer-right{
  padding-top: 3%;
  text-align: center;
  width: 33%;
  
  
  
}

.footer-right >h3{
  line-height: 2;
  border-bottom: 2px solid currentColor;
  margin-left: 200px;
  margin-right: 200px;

}


.footer-right >p{
  padding-top: 8%;
  font-size: 17px;
}

.footer-mid >p{
  list-style-type: none;
  margin-right: 0px;
  margin-left: 20px;
  
}

.footer-mid >h3{
  line-height: 2;
  border-bottom: 2px solid currentColor;
  margin-left: 200px;
  margin-right: 200px;
}

.Input_news{
  border: 1px solid white;
  border-radius: 10px;
  outline:none;
  margin-left: 20px;
  left: 0;
  
}



.footer-right>p{

  margin-top: 50px;
  margin-bottom: 50px;

}

.footer-right>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
  
}

.footer-complaints{
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-size: 12px;
  
}