/* mode: Dark */
#light{
  background-color: rgb(247, 247, 247);
  color: black;
}
#dark{
  background-color: #292929;
  color: white;
} */
    
   
.App {
  width: 100%;
  height: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* Home CSS */


/* Carousel */
.dogcarousel{
  position: relative;
}
.carousel-caption{
  position: absolute;

}
.carousel-caption{
  bottom:34%;
  left:-35%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.carousel-text{
  line-height: 140%;
  margin-bottom: 0;
  font-size: 9.2vw;
}
.carousel-subtext{
  font-size: 2.2vw;
}
.carousel-subtext.dark{
  color: white;
  font-weight: bold;
}
.carousel-subtext.light{
  color: rgb(255, 255, 255);
  font-weight: bold;
}
#createaccountButton{
  font-size: 1.1vw;
  width: 11vw;
}
.carousel-img{
  max-height: 93vh;
}

/* Review CSS */
.review-header{
  padding: 5px ;
  display: flex;
}
.reviewer-name{
  padding-left:5px;
}
.review-text {
  padding-left: 5px;
}
.qm{
  position:relative;
  height: 10px;
  font-family: sans-serif;
  font-size: 5em;
  font-weight: bold;
  
}
.qm.dark{
  color: rgb(156, 133, 225);
}
.qm.light{
  color: rgba(98, 69, 156, 0.663);
}
.qm.left{
  top: 95px;
  rotate: 180deg;
}
.qm.right{
  float: right;
  bottom:105px;
  right:5px;
}
.card-body{
  padding: 16px 55px 32px 55px;
}
.review{
  margin: 0 1em;
  height: 100%;
}
.review.light{
  border-width: 2px;
  border-color: rgb(210, 188, 219);
}

.review.dark{
  border-width: 2px;
  border-color: rgb(98, 69, 156) ;
}
.reviewslider{
  margin-top: 10px;
  margin-bottom: 10px;
}
.reviewslider.row{
  --bs-gutter-x: 0 !important;
}
.reviewslider .col{
  height: inherit;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.reviewslider.dark{
  background-color: #292929;
}
@media only screen and (max-width: 800px) {
  .reviewslider{
    display: block;
  }
}

/* end of Home CSS  */

