/*Header CSS*/
.logo {
    padding-bottom: 2px;
}

.light.btn-primary {
    --bs-btn-border-radius: 20px;
    --bs-btn-color: rgb(0, 0, 0);
    --bs-btn-bg: rgb(228, 164, 254);
    --bs-btn-border-color: rgb(228, 164, 254);

    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: rgb(202, 102, 245);
    --bs-btn-hover-border-color: rgb(202, 102, 245);

    --bs-btn-active-color: white;
    --bs-btn-active-bg: rgba(202, 102, 245, 0.6);
    --bs-btn-active-border-color: rgba(202, 102, 245, 0.603);

}

.dark.btn-primary {
    --bs-btn-border-radius: 20px;
    --bs-btn-color: white;
    --bs-btn-bg: rgb(98, 69, 156);
    --bs-btn-border-color: rgb(98, 69, 156);

    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: rgba(63, 23, 143, 0.8);
    --bs-btn-hover-border-color: rgba(63, 23, 143, 0.8);

    --bs-btn-active-color: white;
    --bs-btn-active-bg: rgba(52, 25, 105, 0.952);
    --bs-btn-active-border-color: rgba(52, 25, 105, 0.952);
}

.btn {
    --bs-btn-padding-x: 1.6rem;
    font-weight: bold;
}

.navbar {
    --bs-navbar-padding-x: none;
}

.navbar-nav .form-check-input:checked {
    background-color: rgb(98, 69, 156);
    border-color: rgb(98, 69, 156);
}

.navbar-nav .form-check-input:focus {
    border-color: rgb(98, 69, 156);
    box-shadow: 0 0 0 0.25rem rgb(98 69 156 / 25%);
}

#light .navbar-nav .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Ccircle cx='50' cy='50' r='40' fill='rgb(98 69 151 /50%25)' /%3E%3C/svg%3E ");
}

.mt-7px {
    margin-top: 7px;
}