.Sub_title{
  color: white;
    
    margin-top: 3%;
    
}

.Sub_title_container{
    background: #007bff;
    background: linear-gradient(to right, #9600e6, #bd2dc0);
    display: flex;
    justify-content: center;
   
}
section.pricing {
    background: #007bff;
    background: linear-gradient(to right, #9600e6, #bd2dc0);
}
  
.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    
}
  
.pricing .col-lg-4{
  margin: 1vh 0;
}
  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
  .pricing .card-price .period {
    font-size: 0.8rem;
  }
  
  .pricing ul li {
    margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
    margin-top: -50px;
  }

 .card.mb-5.mb-lg-0{
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
   
 }

.btn.btn-block.btn-primary.text-uppercase{
    position: relative;
    margin-left: 70%;
    margin-bottom:-20% ;
}
 
  
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
  }
    .pricing .card:hover .btn {
      opacity: 1;
    }
    .card.mb-5.mb-lg-0{
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
       
     }