/* mode: Dark */
.light{
  background-color: rgb(231, 228, 228);
  color: black;
}
.dark{
  background-color: #1a1919;
  color: white;
}
/*Header CSS*/
#light .btn-primary{
    --bs-btn-border-radius: 20px;
    --bs-btn-color: black;
    --bs-btn-bg: rgb(210, 188, 219);
    --bs-btn-border-color: rgb(210, 188, 219);

    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: rgba(128, 128, 128, 0.7);
    --bs-btn-hover-border-color: rgba(128, 128, 128, 0.7);

}
#dark .btn-primary {
  --bs-btn-border-radius: 20px;
  --bs-btn-color: white;
  --bs-btn-bg: rgb(98, 69, 156);
  --bs-btn-border-color: rgb(98, 69, 156);

  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: rgba(98, 69, 156, 0.4);
  --bs-btn-hover-border-color: rgba(98, 69, 156, 0.7);

  --bs-btn-active-color: white;
  --bs-btn-active-bg: rgba(98, 69, 156, 0.4);;
  --bs-btn-active-border-color: rgba(98, 69, 156, 0.7);;
}
.navbar-nav .btn{
  --bs-btn-padding-x: 1.6rem;
  font-weight: bold;
}
.navbar-nav .form-check-input:checked{
  background-color: rgb(98, 69, 156);
  border-color: rgb(98, 69, 156);
}
.navbar-nav .form-check-input:focus{
  border-color: rgb(98, 69, 156);
  box-shadow: 0 0 0 0.25rem rgb(98 69 156 / 25%);
}
#light .navbar-nav .form-check-input:focus{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Ccircle cx='50' cy='50' r='40' fill='rgb(98 69 151 /50%25)' /%3E%3C/svg%3E ");
}
    .mt-7px{
  margin-top: 7px;
}

